<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>

    <div class="h-[100vh] bg-[#F6FBF4] flex align-middle justify-center items-center">
        <div class='h-[25rem] border-[1px] border-green-300 w-[30rem] rounded-md'>
            <h1 class="text-center text-green-400 text-2xl mb-8 mt-4">Change your account login details</h1>
            <!-- <div>
                <ul class="text-red-600 text-center">
                    <li>Minimum 8 characters long</li>
                    <li>One Uppercase letter at last </li>
                    <li>One lowercase letter at least</li>
                    <li>One Number</li>
                </ul>
            </div> -->
            <form method='POST' action='/changePassword' enctype="application/x-www-form-urlencoded">
                <input onkeyup="clear()" id='newPassword' class="h-8 p-2 w-80 mt-6 ml-20 border-[2px] rounded-full focus:outline-none focus:border-green-300
                " type='password' name='newPassword' placeholder='New Password' required />
                <input id='confirmPassword'
                    class="h-8 p-2 w-80 mt-6 ml-20 border-[2px] rounded-full focus:outline-none focus:border-green-300"
                    type='password' name='confirmPassword' placeholder='Confirm Password' onkeyup="checkEquality()"
                    required />
                <p id='matchError' class="text-red-600 text-center"></p>
                <p id='matchSuccess' class="text-green-700 text-center"></p>
                <div class='flex justify-center'>
                    <div class='block'>
                        <button id='submitKaro' type='submit' class='bg-green-300 px-8 py-2 rounded-md my-4'>Change
                            Password</button>
                    </div>
                </div>
            </form>

            <div>
                
                <p class="text-center">Go back to home page</p>
                <div class='flex justify-center'>
                    <a href="http://localhost:5000/home"><button id='signup'
                            class='bg-green-300 px-2 rounded-md '>Home</button></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        function checkEquality() {
            var newP = document.getElementById('newPassword').value;
            var confirmP = document.getElementById('confirmPassword').value;

            if (newP != confirmP) {
                document.getElementById('matchSuccess').innerText = "";
                document.getElementById('matchError').innerText = "Password do not match";
            }
            else {
                document.getElementById('matchSuccess').innerText = "Password matched";
                document.getElementById('matchError').innerText = "";
            }if(confirmP == "") {
                document.getElementById('matchSuccess').innerText = "";
                document.getElementById('matchError').innerText = "";
            }
        }
        //     function checkPass(){
        //         var val = document.getElementById('confirmPassword').value;
        //         val.
        //     }
    </script>
</body>




</html>