<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Forgot Password</title>
</head>
<body>
    <div class="h-[100vh] bg-[#F6FBF4] flex align-middle justify-center items-center">
        <div class='h-[25rem] border-[1px] border-green-300 w-[30rem] rounded-md'>
            <h1 class="text-center text-green-400 text-2xl mb-8 mt-4">Enter your Email ID</h1>
            <form method='POST' action='/forgotPassword' enctype="application/x-www-form-urlencoded">
                <input id='email' class="h-8 p-2 w-80 mt-6 ml-20 border-[2px] rounded-full focus:outline-none focus:border-green-300
                " type='email' name='email' placeholder='Email' required />
                <div class='flex justify-center'>
                    <div class='block'>
                        <button id='submitKaro' type='submit' class='bg-green-300 px-8 py-2 rounded-md my-4'>Submit</button>
                    </div>
                </div>
            </form>

            <div>
                <p class="text-center">Go back to Login page</p>
                <div class='flex justify-center'>
                    <a href="http://localhost:5000/login"><button id='signup'
                            class='bg-green-300 px-2 rounded-md'>Login</button></a>
                </div>
                <div>
                    <p class = "text-red-500 font-bold text-center"><%=message%></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>