<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <%- include('header') %>
    </header>
</body>

</html>

<!-- f on s
become involved f y
be a orie
dont react 
stay mindful 
orderly 
sit and breath properlyy
follow the schedule 
fears- staying in public 
    working 
    talking to others
etc 
stage 1= be involved for y -->